*~
*.userprefs
.pt
packages
.DS_Store
_ReSharper.*
[Bb]in/
[Oo]bj/
*.user
*.suo
*.tlh
*.tss
.svn
*.sln.cache
Assessment/*eb.config
Assessment/*pp.config
ClientBin
cm/*/Assemblies/
ReleaseImage
!*/packages/*/lib/*.dll
*.orig
!*/lib/*/*
Assemblies/**/*.dll
cm/NetSqlAzMan/3.6/NetSqlAzMan.*
.idea
*.docstates
[Ll]og/
*.log*
~$*.*
.sass-cache
MolesAssemblies
*.trx
*.Publish.xml
imageStore
_gsdata_
*.config
![Aa]pp.config
![Ww]eb.config
!repositories.config
!packages.config
!*.example.config
Data/
!cm/TNW.CaseManagement.Core/Enterprise/Data
!cm/TNW.CaseManagement.Core/Data
platform/TNW.UserSessionService/packages/RavenDB.1.0.0.427/server/Tenants/
*.dotCover
*.ReSharper
!*/Integration-Environment-Configs/*/*.config
/policy/TNW.PolicyManagement.5.1.ReSharper.template
*/packages/Raven*/server/Tenants/
*/packages/Raven*/server/Data/
TNW*.dotCover
tools/console.xml
!cm/Environments/*/*/*.example.config
sptier0.js
tools/Console2/console.xml
tools/nginx-1.0.13/logs
tools/Raven*
build/release-notes.html
policy/EventHandlers/rendering_templates/*
WholeEnchilada.sln
TestResult.xml
TestOutput.txt
additional_binds.yml
platform-specs/*/*.feature.cs
platform-specs/*/*/*.feature.cs
platform-specs/*/*/*/*.feature.cs
platform-specs/*/*/*/*/*.feature.cs
platform-specs/*/*/*/*/*/*.feature.cs
cm/TNW.CaseManagement/TNW.CaseManagement.Web/Scripts/application/*/*.min.js
UpgradeLog*.*
*raven*.zip
RavenPlugins/Server
queues.json
Powershell/Modules/Grc.zip

#approvaltests work files
**/*.received.txt

# The way we are currently doing things, we'd never want these files committed
crossdomain.xml
clientaccesspolicy.xml

# Visual Studio 2011 extras #
#############################
UpgradeLog*.xml
_UpgradeReport_Files/
TestResults/
[Tt]humbs.db
*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
**/*.userprefs

#Jacob Machine#
.gem/*
.ssh/*
.pv
.floo

#vim
*~
*.swp

/client/public/i18n/cultures/la.json
/client/public/i18n/cultures/en.json
/RavenPlugins/*.zip

*.sublime-project
*.sublime-workspace
ussComms.htmlcharlie_spec_run_command
client/charlie_spec_run_command
client/dist
*.Tmp
