@{
  ViewBag.Title = "Movies";
  Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div>
      <h1>Movie List</h1>
    </div>
<div>
  <ul>
    @foreach (var item in ViewBag.data) {
      <li>@Html.Raw(item)</li>
    }
  </ul>
</div>
