@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a simple MVC app, accessing a <a href="http://ravendb.net/">RavenDB</a> datbase. Nothing fancy to see here, unless you're just learning how to program against RavenDB.</p>
