@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>RMDB</h1>
    <p class="lead">Raven Movie Database</p>
</div>
<p>@ViewBag.Message</p>
or
<p>Your favorite <a href="/Movie/">movie</a> database, using RavenDB.</p>