@{
  ViewBag.Title = @ViewBag.data.Name;
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
  <h1>@ViewBag.data.Name</h1>
  <hr />
</div>
<div>
  <table id="sortedTable" class="tablesorter">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Character</th>
      </tr>
    </thead>
    <tbody>
      @{
        var movieList = ViewBag.data.HtmlMovieList as List<string>;
        if (null != movieList) {
          foreach (var movieRow in movieList) {
            <tr>@Html.Raw(movieRow)</tr>
          }
        }
      }
    </tbody>
  </table>
</div>
