@{
  ViewBag.Title = @ViewBag.data.Name;
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
  <h1>@ViewBag.data.Name</h1>
  <hr />
</div>
<div>
  <p>birthdate: @ViewBag.data.BirthDate</p>
  <ul>
    @{
      var movieList = ViewBag.data.HtmlMovieList as List<string>;
      if (null != movieList)
      {
        foreach (var movie in movieList) {
          <li>@Html.Raw(movie)</li>
        }
      }
    }
  </ul>
</div>
